body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: #333;
}

header {
  background: #343a40;
  color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  
}

header .logo {
  width: 10%; /* Adjusted the logo width */
  display: block;
  margin: 0 auto 10px;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #f5f5f5;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.filters button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.filters button:hover {
  background-color: #ff6f61;
  color: #fff;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.restaurant-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
}

.restaurant-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
}

.restaurant-card:hover {
  transform: translateY(-10px);
}

.restaurant-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 20px;
}

.info h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.info .rating {
  margin: 0 0 10px;
  color: #ff6f61;
}

.info .location,
.info .description,
.info .offer {
  margin: 0 0 5px;
  color: #666;
}

.info .offer {
  color: #ff6f61;
  font-weight: bold;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

footer a {
  margin: 0;
  color: #e83232;
}
footer p {
    margin: 0;
    color: #f5f5f5;
}