body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.review-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.review-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
}

.review-card:hover {
    transform: scale(1.05);
}

.review-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.review-card p {
    margin: 10px 0;
    color: #666;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    
  }
  
  footer a {
    margin: 0;
    color: #e83232;
  }
  footer p {
      margin: 0;
      color: #f5f5f5;
  }
